################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/algorithms/.vs/DSA/v15
/.vs
